{% extends 'plantilla.html' %}
{% block content %}
<!-- Crear Equipo -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#crearModal">Crear Equipo</button>
<div class="modal fade" id="crearModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/subir-equipo/0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Equipo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
        </form>
      </div>
    </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
        {% for equipo in equipos %}
        <form action="/subir-equipo/{{equipo.id_equipo}}">
            <tr>
                <th scope="row">{{equipo.id_equipo}}</th>
                <td>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{equipo.nombre}}">
                </td>
                <td><button type="submit" class="btn btn-info">
                    <i data-feather="upload"></i>
                </button></td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal" onclick='document.getElementById("boton-eliminar").href = "/eliminar-equipo/{{equipo.id_equipo}}";'>
                    <i data-feather="trash-2"></i>
                </button></td>
            </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar Equipo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <p>El equipo y todos los partidos registrados serán eliminados</p>
              <p>¿Está seguro de continuar?</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a href="#" class="btn btn-danger" role="button" id='boton-eliminar'>Eliminar</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
