{% extends 'plantilla.html' %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Equipo</th>
        <th scope="col">Goles</th>
        <th scope="col">-</th>
        <th scope="col">Goles</th>
        <th scope="col">Equipo</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
        {% for partido in partidos %}
        <form action="/subir-partido/{{partido['partido']['id_partido']}}">
            <input hidden id="id_equipo1" name="id_equipo1" value="{{partido['equipo1']['id_equipo']}}">
            <input hidden id="id_equipo2" name="id_equipo2" value="{{partido['equipo2']['id_equipo']}}">
            <tr>
                <th scope="row">{{partido['partido']['id_partido']}}</th>
                <td>{{partido['equipo1']['nombre']}}</td>
                <td>
                    <input type="number" class="form-control" id="goles_equipo1" name="goles_equipo1" value="{{partido['partido']['goles_equipo1']}}">
                </td>
                <td>-</td>
                <td>
                    <input type="number" class="form-control" id="goles_equipo2" name="goles_equipo2" value="{{partido['partido']['goles_equipo2']}}">
                </td>
                <td>{{partido['equipo2']['nombre']}}</td>
                <td><button type="submit" class="btn btn-info">
                    <i data-feather="upload"></i>
                </button></td>
                {% set id_partido =  partido['partido']['id_partido']%}
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal" onclick='document.getElementById("boton-eliminar").href = "/eliminar-partido/{{id_partido}}";'>
                    <i data-feather="trash-2"></i>
                </button></td>
            </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar Partido</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <p>¿Está seguro de continuar?</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a href="#" class="btn btn-danger" role="button" id='boton-eliminar'>Eliminar</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}