{% extends 'plantilla.html' %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Equipo</th>
        <th scope="col">PJ</th>
        <th scope="col">PG</th>
        <th scope="col">PE</th>
        <th scope="col">PP</th>
        <th scope="col">GF</th>
        <th scope="col">GC</th>
        <th scope="col">PT</th>
      </tr>
    </thead>
    <tbody>
        {% for resultado in resultados %}
            <tr>
                <td>{{resultado['nombre']}}</td>
                <td>{{resultado['pj']}}</td>
                <td>{{resultado['pg']}}</td>
                <td>{{resultado['pe']}}</td>
                <td>{{resultado['pp']}}</td>
                <td>{{resultado['gf']}}</td>
                <td>{{resultado['gc']}}</td>
                <td>{{resultado['PT']}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}